body{
	margin-left: 50px;
}
section{
	margin-bottom: 10px;
}
.stats, .bugname {
	font-size: 18pt;
}
.bugname{
	cursor : pointer;
}
.closed{
	color : red;
	text-decoration: line-through;
	font-style: italic;
	font-weight: bold;
}
ol{
	width: 500px;
	list-style: none;
	-webkit-padding-start : 0px;
}
li{
	margin-bottom: 10px;
	border: 1px solid gray;
	background-color: #e7e7e7;
	padding: 10px;
	border-radius: 5px;
}
.datetime{
	font-style: italic;
}
